.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.settings_box{
    display: flex;
}

.settings_item {
    width: 80px;
    height: 80px;
    padding: 20px;
    background: rgba( 55, 136, 5, 0.55 );
    box-shadow: 0 0 100px 0 rgba( 255, 255, 255, 0.17 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.settings_item:first-child {
    margin-left: 0;
}
.settings_lang{
    margin-top: 20px;
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.settings_lang a{color: white}
.settings_item img{
    width: 50px;
    height: 50px;
}
.sett{
    height: 100vh;
    overflow: scroll;

}
.sett .back-tab{
    position: absolute !important;
    z-index: 99;
}

.settings_footer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 20%;
}
.settings_footer_item{
    width: 100px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50px;
    background: #378805;
    color: white;
}
.settings_footer_item img{
    width: 25px;
    height: 25px;
    margin-right: 1px;
}