
.home-page {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(180deg, #191919 0%, #378805 100%);*/
    overflow: scroll;
}

.home-page_user_settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.home-page_settings svg {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
}

.home-page_user {
    float: right;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    margin-right: 20px;
    color: white;
}

.home-page_user h1 {
    font-size: 20px;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.home-page_user .home-page_user_icon {
    width: 40px;
    height: 40px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.home-page_user_icon svg {
    width: 100%;
    height: 100%;
}

.ball-score h1 {
    font-size: 20px;
}

.tap_ball {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    -webkit-touch-callout: none; /* Mobil qurilmalarda yuklab olish menyusini bloklaydi */
    -webkit-user-select: none; /* Matnni tanlashni o'chiradi */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tap_ball img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    user-select: none; /* Rasmni tanlashni oldini oladi */
    pointer-events: none; /* Bosish va yuklab olishni bloklaydi */
}

.ball-content {
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-top: 15px;
    flex-direction: column;

}

.ball-score-container {
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.ball-score h1, .ball-score {
    color: #fff;

}
.ball-score{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;
    background: rgba( 55, 136, 5, 0.55 );
    box-shadow: 0 0 100px 0 rgba( 255, 255, 255, 0.17 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.ball-score:hover{
    border: 1px solid #39FF14;
    box-shadow: 0 0 100px 0 rgba( 57, 255, 20, 0.47 );
}
.ball-score:nth-child(1){
    width: 48%;

}

.ball-score:nth-child(2){
    width: 48%;
}

.ball-score p{
    color: #e1dfdf;
    margin-bottom: 5px;
    margin-top: 0;
}

.ball-score h1{
    margin: 0;

}


.ball-score h1 {
    font-size: 14px;
}




.ball-animation {
    position: absolute;
    font-size: 30px;
    animation: ball-move 0.8s ease-in-out both;
    color: #378805;
}

@keyframes ball-move {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100px);
    }
}

.small-ball {
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/soccer_ball.png");
    background-size: cover;
    border-radius: 50%;
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
}

/* Ball bosilgandagi animatsiya */


.ball-image {
    transition: transform 0.7s;

}

.ball-image.pressed {
    animation: ball-press 0.2s ease;
}

@keyframes ball-press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9); /* Kichrayish */
    }
    100% {
        transform: scale(1); /* Yana kattalashish */
    }
}

.tap_ball_energy {
    width: 100%;
    height: auto;
    margin: 10px 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.energy_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.energy_info img {
    width: 30px;
    height: 30px;
}

.energy_line {
    width: 80%;
    height: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset -5px 5px 19px #0f0f0f,
    inset 5px -5px 19px #232323;
}

.energy_line p {
    color: white !important;
    z-index: 22;
    right: 5px;

    position: absolute;
}

.energy_line p:first-child {
    font-size: 14px;
}

.energy_line p:nth-child(2) {
    color: white !important;
    z-index: 22;
    left: 0;
    top: -40px;
    font-size: 14px;
    position: absolute;

}

.energy_line span {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    height: 90%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.01) 0%, #378805 100%);
    border-radius: 10px;
}

.tap_coin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.tap_coin img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.tap_ball img {
    pointer-events: auto;
}


@media screen and (max-width: 376px) {
    .tap_ball img {
        width: 243px;
        height: 243px;
    }
}
