.collapse-container-l {
    overflow: hidden;
    width: 95vw;
}

.collapse-item-l {
    margin: 10px 0;
    width: 100%;

}

.collapse-header-l {
    height: 50px;
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(250, 250, 250, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.collapse-icon-l {
    font-size: 14px;
    color: white;
}

.collapse-content-l {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(250, 250, 250, 0.20);
    color: white;
    overflow: hidden;
    max-height: 0; /* Boshlang'ich balandlik 0 */
    transition: max-height 0.5s ease; /* Animatsiya */
    width: 100%;
}

/* Collapse ochiq bo'lganda */
.collapse-item-l.open .collapse-content-l {
    max-height: 500px; /* Maksimal balandlikni tahminiy qiymat belgilang */
    width: 100%;
}
