.league-container{
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.league_box{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.league_item{
    background: #378805;
    width: 90%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.league_item:last-child{
    margin-bottom: 200px;
}
.league_item:first-child{
    margin-top: 150px;
}
.league_item h1{
    font-size: 20px;
}
.back_liga{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.back_liga h1{
    margin-right: 10px;}

.league_item_left img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    object-fit: contain;
}
.league_item_left{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}