.league-wrapper{
    height: 100vh;
    overflow: hidden;
}
.league_data{
    height: 100vh;
    overflow: scroll;
}
.swiper_league_scroll{
    margin-top: 10px;
}
.mySwiperLig{
    margin-top: 20px !important;
    padding: 10px;
    background: transparent;
}
.swiper {
    width: 100%;
    height: 100px;
}
.swiper-pagination{display: none}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(250, 250, 250, 0.20);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.18);
}

.swiper-slide img {
    width: 40px;
    margin-top: 10px;
    height: 40px;
    object-fit: cover;
}
.swiper-slide p{
    font-size: 12px;
}

.mySwiperLig .swiper-slide.active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.18);
    transition: background-color 0.3s ease;
}


.fixtures {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.league_collapseChildren{
    display: flex;
    flex-direction: column;
}
.league_collapseChildren_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.league_collapseChildren_item{
    margin-top: 10px;
    width: 50%;
}
.league_collapseChildren_item:last-child{
    margin-right: 25px;
    text-align: right;
}
.league_collapseChildren_item_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.league_collapseChildren_item_logo img{
    width: 30px;
    height: 30px;
}
.league_collapseChildren_item_stadion img{
    width: 30px;
    height: 30px;
}
.swiper-wrapper{
    height: 95%;
}
