/*.content_events {*/
/*    position: absolute;*/
/*    top: 10%;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: table;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/
.events{
    width: 100vw;
    overflow: scroll;
    height: 100vh;
}
.events_box {
    /*padding: 5px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events_title {
    text-align: center;
    line-height: 4px;
    margin-bottom: 30px;
}
.events_title img{
    width: 100px;
    height: 100px;
}
.events_title p{
    margin-top: 0;
}
.events_title h1 {
    margin-bottom: 0;
}

.events_box_content {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.events_box_content_title {
    width: 95%;
    padding-left: 15px;
}

.events_box_content_title h1 {
    font-size: 20px;
}
.events_item.active{
    box-shadow: 0 0 100px 0 rgba( 57, 255, 20, 0.27 );
    border: 1px solid #39FF14;
}
.events_item.bajarilgan{
    border: 1px solid #fff;
}
.events_item {
    width: 88%;
    height: 65px;
    padding: 10px;
    background: rgba( 55, 136, 5, 0.55 );

    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 20px );

    margin-bottom: 10px;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events_item:last-child {
    margin-bottom: 100px
}

.events_item_logo {
    width: 60px;
    height: 100%;
    object-fit: cover;
}

.events_item_text {
    overflow: hidden;
    display: grid;
    width: 60%;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}

.events_item_text span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    height: 20%;
}
.events_item_text p:nth-child(1) {
    height: 70%;
}
.events_item_text span p {
    margin-left: 5px;
}

.events_item_text p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.events_item_text img {
    width: 13px;
    height: 13px;
}

.events_item_status{
    width: 40px;
    height: 40px;
}
.events_item_status img{
    width: 100%;
    height: 100%;
}


.events_events_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
}
.events_events_item{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    background: rgba( 55, 136, 5, 0.55 );

    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.events_events_item:last-child{
    margin-bottom: 100px;}
.events_events_item_left_icon{
    width: 50px;
    height: 100%;
}.events_events_item_left_icon img{
    width: 100%;
     height: 100%;
    object-fit: contain;
 }

.events_events_item_left_text span img{
    height: 13px;
    width: 13px;
    margin-right: 2px;
}
.events_events_item_left_text span{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.events_events_item_left{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.events_events_item_left_text h3{
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.events_events_item_left_text{
    line-height: 0;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events_events_item_left_text span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.events_events_item_right{
    width: 30%;
    display: flex;
    justify-content: center;
}
.events_events_item_right button{
    width: 100px;
    padding: 10px 0;
    border-radius: 15px;
    border: 1px solid rgba(57, 255, 20, 0.27);
    box-shadow: 0 0 100px 0 rgba(57, 255, 20, 0.47);
    background: rgba(55, 136, 5, 0.55);
    backdrop-filter: blur(10px);
    outline: none;
    color: white;
}

.events_events_item_right button img{
    width: 50px;
    height: 50px;
}

.events_events_item_right button.active{
    border: 1px solid #39FF14;
    box-shadow: 0 0 100px 0 rgba(57, 255, 20, 0.47);
    background: rgba(55, 136, 5, 0.55);
    backdrop-filter: blur(10px);
}