.quiz-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #191919 0%, #378805 100%) no-repeat;
    z-index: 9999;
    position: relative;
    overflow: hidden;
    color: white !important;
    padding: 10px;
}

.quiz-container .ant-progress-text {
    color: white !important;
}

.quiz-container.quiz_end {
    background: transparent;
    z-index: 0;
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz_end_score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.quiz_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100% ;
}

.quiz_question {
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.quiz_question h2 {
    width: 60%;
    text-align: left;
    font-size: 14px;
    text-overflow: clip;
    margin-right: 20px;
}

.quiz_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    width: 100%;

}
.quiz_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz_title h3{
    margin-right: 25px;
}


.quiz_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
    background: #535bf2;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.quiz_item:nth-child(even){
    margin-left: 10px;
}

input[type=radio] {
    display: none;
}