.rating{
    padding: 0;
    margin: 0;
    width: 100%;
    /*overflow: scroll;*/
}
.rating .swiper-slide{
    width: 150px !important;
    height: 50px!important;

}
.rating .swiper{
    margin-top: 10px;
}

.rating_table_tab{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.ratingSwiper{

    margin-top: 35px !important;
}
.ratingSwiper .swiper-slide.selected {
    transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    border-radius: 10px;
}
.ratingSwiper .swiper-slide:first-child{
    margin-left: 10px;
}
.ratingSwiper .swiper-slide:last-child{
    margin-right: 50px !important;
}
.rating_table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}

.rating_table_tab_item , .rating_table_item {
    width: 150px;
    height: 70px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 15px;
    background: rgba( 55, 136, 5, 0.55 );
    box-shadow: 0 0 100px 0 rgba( 255, 255, 255, 0.17 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating_table_item{
    width: 80%;}
.rating_table_item_current_user{
    box-shadow: 0 0 100px 0 rgba( 57, 255, 20, 0.17 );
    border: 3px solid #39FF14;
}


.rating_table_item:last-child{margin-bottom: 220px}
.rating_table_item p , .rating_table_item h1{
    margin: 0;
    padding: 0;
}
.rating_table_item p{
    display: flex;
    align-items: center;
}
.rating_table_item p img{
    width: 20px;
    margin-right: 5px;
    height: 20px;
}
.rating_table_item h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.rating_table_item_info{
    width: 90%;
}
.rating_table_item_info h1{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

